
 <% if errors.any? %>
        <div class="banner banner-alert">
        <p><b>The form contains <%= pluralize(errors.count, "error") %></b></p>
        <ul class="list-disc">
            <% errors.each do |msg| %>
            <li class="text-xs"><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>
