<% if @feed_items.any? %>
    <div class="flex flex-col gap-4">
        <ul>
            <%= render @feed_items %>
        </ul>
        <%= will_paginate @feed_items, params: { controller: :static_pages, action: :home } %>
    </div>
<% end %>
