@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply block py-2 pl-3 pr-4 text-gray-700 bg-blue-700 rounded md:bg-transparent md:p-0 dark:text-white;
}
.nav-link-active {
  @apply block py-2 pl-3 pr-4 text-blue-700 bg-blue-700 rounded md:bg-transparent md:p-0 dark:text-blue-700;
}

.debug_dump {
  @apply fixed bottom-4 box-border left-2 right-2 border border-b-neutral-200 bg-slate-100 rounded-md p-3;
}

.primary-button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

/* TEXT */
h1,
h2,
h3,
h4,
h5,
p {
  @apply text-gray-800;
}

h1 {
  @apply text-5xl font-black;
}

h2 {
  @apply text-4xl font-extrabold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-semibold;
}

h5 {
  @apply text-xl font-medium;
}

p {
  @apply text-base font-normal;
}

/* BANNER */

.banner {
  @apply p-4 mb-4 text-sm rounded-lg w-full;
}

.banner-danger {
  @apply text-red-700 bg-red-100 dark:bg-red-200 dark:text-red-800;
}

.banner-success {
  @apply text-green-500 bg-green-100 dark:bg-green-200 dark:text-green-600;
}

.banner-info {
  @apply text-yellow-500 bg-yellow-100 dark:bg-yellow-200 dark:text-yellow-600;
}

/* FORM */

.form-input {
  @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600;
}

.field_with_errors {
  @apply w-full
}

.field_with_errors > .form-input{
  @apply border-red-500 
}

.form-label {
  @apply peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
}

.form-checkbox {
  @apply w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800;
}


/* PAGINATION */

.pagination {
  @apply inline-flex -space-x-px
}

.pagination > a,
.pagination > span,
.pagination > em {
  @apply px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
}

.pagination .previous_page {
  @apply rounded-l-lg
}

.pagination .next_page {
  @apply rounded-r-lg
}

.pagination > em.current {
  @apply px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white

}
