@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply block py-2 pl-3 pr-4 text-gray-700 bg-blue-700 rounded md:bg-transparent md:p-0 dark:text-white;
}
.nav-link-active {
  @apply block py-2 pl-3 pr-4 text-blue-700 bg-blue-700 rounded md:bg-transparent md:p-0 dark:text-blue-700;
}

.debug_dump {
  @apply box-border clear-both float-left w-full mt-11 border border-b-neutral-200 bg-slate-100 rounded-md p-3;
}

.primary-button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

/* BANNER */

.banner {
  @apply p-4 mb-4 text-sm rounded-lg;
}

.banner-danger {
  @apply text-red-700 bg-red-100 dark:bg-red-200 dark:text-red-800;
}

.banner-success {
  @apply text-green-500 bg-green-100 dark:bg-green-200 dark:text-green-600;
}

/* FORM LABEL */

.form-label {
  @apply text-black font-semibold;
}
