<div class="flex flex-col gap-1 w-full border-b border-gray-300 pb-4 mb-4">
    <h1>
        <%= title %>
    </h1>
    <p class="uppercase text-sm text-slate-700">
        <%= description %>
    </p>
</div>
